.header img{
	width: 250px;
	size: 150px;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.search {
	width: 20%;
	float: right;
	border-radius: 15px;
	background-color: #ebebeb;
	border-color: black;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	width: 100%;
	overflow: hidden;
	background-color: #271f1c;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
	width: 22%;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
	color: #D1DF44;
	font-family: Arial, Helvetica, sans-serif;
}

.main img{
	width: inherit;
	padding: 25px;
}

.main {
	background: #b7b7b9;
}

#bottom {
	display:flex;
	background-color: white;
	padding: 35px;
}

.column{
	flex: 1;
	width: 33%;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
	background-color: #eeeef0;
	padding: 30px;
	overflow-y: scroll;
	height: 450px;
	line-height: 2;
	font-family: Arial, Helvetica, sans-serif;
}

#photo2{
	width: 25%
}

#photo3{
	width: 25%
}

.navbar {
  background-color: #271f1c;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
	width: 22%;
  float: left;
  display: block;
  color: #aaaca7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
	border-right: 2px solid #aaaca7;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
	color: #D1DF44;
}
